body {
    margin: 2em;
    padding: 2em;
    text-align: left;
   
}
.heading{
    color: rgb(218, 52, 80);
}
.label {
    margin-bottom: 1em;
}
.main{
    border-style: groove;
    border-color: rgb(10, 102, 10) rgb(218, 52, 80);
    border-style: 0.1em solid;
    background-color: rgb(220, 243, 214);
    padding: 1.5em;
    
}
.empform{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.4em;
}

.Employee{
    display: inline-block;
    padding: 1em 23px;
    margin: 0.5em 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#buttonPaySlip {
    margin: 1.7em 11em;
    padding: 0.5em;
    font-size: 1.3em;
    background-color:rgb(214, 68, 92);
    color: white;
    border: 2px solid rgb(10, 102, 10);
}
#buttonPaySlip:hover {
    background-color: white;
    color:rgb(218, 52, 80);
}


.paySlipItems {
    display: grid;
    grid-template-columns: auto 1fr 3fr;
    grid-column-gap: 0em;
} 

.paySlipListItem {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.4em 0em;
    display: block;
}
